{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>
        {{ form.username.label }}<br>
        {{ form.username() }}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password() }}
    </p>

    <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password() }}
    </p>

    <p>
        {{ form.profile_image.label }}<br>
        {{ form.profile_image() }}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}